/* 1. Buttons */

.btn {
	display: inline-block;
	border-radius: 5rem;
	outline: none;
	border: none;
	box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
	transition: 0.23s ease-in-out;
	font-size: 2rem;

	padding: 1.5rem 5rem;

	/* 	&-outline {
		background-color: transparent;
		border: 1px solid #fff;

		&:hover {
			color: $soft-blue;
			background-color: #fff;
		}
	} */

	&--primary {
		background: linear-gradient(to right, $cyan, $blue);

		/* 	color: $primary-bg-color; */

		/* 		&:hover {
			color: $soft-blue;
			background-color: #fff;
			border: solid $soft-blue 1px;
		} */
	}

	&:hover {
		transform: scale(0.98);
		cursor: pointer;
	}
}

/* Card */

.card {
	background-color: #fff;
	color: #333;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	/* 	padding: 20px; */
	margin: 10px;
	width: 320px;

	animation: slideInFromTop 500ms ease-in;

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-height: 140px;
	}

	&__content {
		padding: 4rem 2rem 2rem 2rem;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__location {
		/* 		color: $dark-grayish-blue; */
		font-weight: 400;
		font-size: 1.3rem;
	}

	&__description {
		font-size: 1rem;
	}

	&__socials {
		border-top: 1px solid #aaaaaa77;
		padding: 1.25rem 3rem;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	&__social {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__image {
		width: 8rem;
		height: 8rem;

		img {
			border: 5px solid white;
			border-radius: 50%;
		}
	}
}

/* HEADER */

.header {
	&__logo {
		height: auto;
		width: 12vw;
		min-width: 12rem;
		max-width: 24rem;
	}
	&__content {
		@include flexbox;
		@include flex-direction;
		justify-content: space-between;
		align-content: center;
		max-width: 1440px;
		margin: auto;
		padding: calc(2rem + 2vw) 0;
		width: 90%;
	}
}

.nav {
	&__menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (min-width: 768px) {
			display: flex;
		}

		&.is-open {
			display: flex;
		}
	}

	&__burger {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 2rem;

		@media (min-width: 768px) {
			display: none;
		}

		span {
			display: block;
			width: 2rem;
			height: 0.4rem;
			background-color: $white;
			-webkit-transition: all 0.2s;
			transition: all 0.2s;
		}
	}

	&__link {
		padding: 1rem;
		margin-right: 1rem;
		color: $white;
	}
}

/* Animation */
@keyframes slideInFromLeft {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromTop {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slideInFromBottom {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateX(0);
	}
}
